{% extends "NG/base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block main-content %}
<section id="about-hero" style="background-image: url('{% static "NG/images/about.jpg" %}');">
    <h2># Know more about us</h2>
    <p>read our starting and expansion...</p>
</section>

<section id="about-head" class="section-p1">
    <img src="images/about.jpg" alt="">
    <div>
        <h2>Who we are ?</h2>
        <p>We are the leading oxygen gas plant manufacturer that has been manufacturing and supplying Oxygen cylinder filling plants for over a decade. We have taken essential expertise in building the Oxygen filling gas plant and medical oxygen generator equipment, which operates on modern PSA or Pressure Swing Adsorption technology to produce high-quality inert nitrogen and 99.5% pure O2 at atmospheric pressure. The atmosphere contains 20-21% oxygen, and the Pressure Swing Adsorption process can utilize Zeolite sieves to collect this from the environment. A medical gas pipeline or liquid tanks then transport medically certified Medical Oxygen at 95% ± 3%. To become popular worldwide, we employ cutting-edge technology and top-notch design in our Oxygen Gas Plants, which lead to performance, safety reliability durability, & operating costs.

            Our wide assortment of oxygen filling plants attains all sizes ranging from 20 Liter/hour to 5,000 Liter/hour. In addition, we have manufacturing, fabricating, and successfully commission high-quality oxygen generator plants along with an oxygen filling station. We have numerous clients worldwide, including Saudi Arabia, Kuwait, Iraq, Iran, Qatar, Afghanistan, South Africa, Yemen, Sudan, Ethiopia, Kenya, Europe, Brazil, etc. Our clients are supplied with superior quality oxygen plants and after-sales support.
            
            Commencing cryogenic oxygen/nitrogen gas plants ranges from 30 m³/hr to 800 m³/hr and exports oxygen gas plant for all these high-pressure, seamless cylinders for various gases.
            
            Oxygen / Nitrogen gas plants developed by MOS Techno Engineers are built into the most outstanding quality of productivity and reliability. advanced technology design which works on moderate stress and is advocated all around the world because of its dependability, functionality, functionality, and efficiency of usage & combining several attributes not generally found in additional oxygen gas plants, including low running cost, low maintenance, sturdy design, low working stress</p>
    </div>
</section>

{% endblock main-content %}